ul {
    list-style-type: none;
    padding-left: 0;

    /* /* display: flex; */
    /* justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; */
    /* */
}

li {
    display: inline;
}

.disc-card {
    margin-bottom: 4rem;
    height: 250px;
    width: 200px;
    text-align: center;
    background-color: cornflowerblue;
}